@import url(shared/projection.css); /* required to make the slide show run at all */
     
body { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

a:link, a:visited { color: black; }

h1 { font-size: 30pt;  }

.slide h1 {  text-align: center; }
.slide h1.fullscreen { position: absolute;
                       top: 40%;
                       width: 100%; }

h2 { font-size: 28pt;  }
h3 { font-size: 25pt;  }
p, li, dt, dd, td, th { font-size: 18pt; }

ul { list-style-type: square; }    

.center { text-align: center; }
.right  { text-align: right;  }

pre { font-size: 16pt;  }

pre.code { 
        background-color: black;
        padding: 5px;
         border: silver thick groove;
          -moz-border-radius: 11px;
      }
     
.footnote a:first-of-type  { text-decoration: none; }

p.smaller  { font-size: 97%; }

p.small,
p.footnote { font-size: 88%; }

p.tiny     { font-size: 82%; }

.help p,
.help td  { font-size: 88%; }

 
.step { color: silver; }
/* or hide next steps e.g.  .step { visibility: hidden; } */
.stepcurrent { color: black; }

/* example gradient background using css3 */

.slide {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,
                 from(yellow), to(orange),
                 color-stop(0.33,orange), color-stop(0.66,yellow));
  
  background: -moz-linear-gradient(top, yellow, orange, yellow, orange);     
}


.title {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,
                 from(blue), to(aqua),
                 color-stop(0.33,blue), color-stop(0.66,aqua));
  
  background: -moz-linear-gradient(top, blue, aqua, blue, aqua);             
}

