@import url(shared/slides.css); /* required to make the slide show run at all */
     
body { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

a:link, a:visited { color: black; }

h1 { font-size: 30pt;  }
h2 { font-size: 28pt;  }
h3 { font-size: 25pt;  }
p, li, dt, dd, td, th { font-size: 18pt; }

ul { list-style-type: square; }    

.center { text-align: center; }


pre { font-size: 16pt;  }

pre.code { 
        background-color: black;
        padding: 5px;
         border: silver thick groove;
          -moz-border-radius: 11px;
      }
     

 
.step { color: silver; }
/* or hide next steps e.g.  .step { visibility: hidden; } */
.stepcurrent { color: black; }
