
	&.reveal {
		background: radial-gradient(circle, #555A5F, #1C1E20);
		background-color: #282a2d;

		.bespoke-progress-parent {
			position: absolute;
			height: 3px;
			width: 100%;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.2);

			.bespoke-progress-bar {
				transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
				display: block;
				height: 100%;
				width: 0px;
				background: hsl(185, 85%, 50%);
			}
		}


		section {
			color: white;
			transition: transform-origin 800ms cubic-bezier(0.26,.86,.44,.985),
                  transform 800ms cubic-bezier(0.26,.86,.44,.985),
                  visibility 800ms cubic-bezier(0.26,.86,.44,.985),
                  opacity 800ms cubic-bezier(0.26,.86,.44,.985);

			&.bespoke-before {
			  transform: translate3d(-100%,0,0) rotateY(-90deg) translate3d(-100%,0,0);
			}

			&.bespoke-after {
			  transform: translate3d(100%,0,0) rotateY(90deg) translate3d(100%,0,0);
			}

			[data-bespoke-bullet] {
				transition: all .2s ease;
			}
			.bespoke-bullet-inactive {
				opacity: 0;
			}
			.bespoke-bullet-active {
				opacity: 1;
			}
		}

		.controls {
			display: block;
			position: fixed;
			width: 100px;
			height: 100px;
			z-index: 30;
			right: 0;
			bottom: 0;

			a {
				text-decoration: none;
				font-size: 0.83em;
				position: absolute;
				opacity: 0.1;
				color: #fff;

				&.enabled {
					opacity: 0.6;
					color: hsl(185, 85%, 70%);
					text-shadow: 0px 0px 2px hsla(185, 45%, 70%, 0.3);

					&:active {
						margin-top: 1px;
					}
				}
			}

			.left { top: 30px; }
			.right { left: 60px; top: 30px; }
			.up { left: 30px; }
			.down { left: 30px; top: 60px; }
		}
	}  // .reveal
